---
import { Image } from "astro:assets";

import arrowLeftSvg from "~/assets/svgs/arrow-left.svg";
import ContentContainer from "~/components/common/ContentContainer";
import HomeRailNav from "~/components/common/HomeRailNav.astro";
import MobileHeader from "~/components/common/MobileHeader";
import RailContainer from "~/components/common/RailContainer";
import RailNav from "~/components/common/RailNav";
import SEO from "~/components/SEO.astro";
import ProjectDetails from "~/components/work/ProjectDetails.astro";
import ProjectGradientBackground from "~/components/work/ProjectGradientBackground";
import ProjectLogo from "~/components/work/ProjectLogo";
import SampleImages from "~/components/work/SampleImages.astro";
import { PROJECTS } from "~/constants/projects";
import Layout from "~/layouts/Layout.astro";

export function getStaticPaths(): { params: { slug: string } }[] {
  return PROJECTS.map((project) => ({
    params: {
      slug: project.slug,
    },
  }));
}

const { slug } = Astro.params;

const project = PROJECTS.find((project) => project.slug === slug)!;
---

<Layout>
  <SEO
    title=`Leon Esquillon | ${project.title}`
    description="Explore this UI/UX design project, showcasing the process, challenges, and user-centered solutions."
    slot="seo"
  />
  <ProjectGradientBackground
    gradients={project.gradients}
    client:only="react"
  />
  <HomeRailNav />
  <ContentContainer
    className="h-screen max-h-screen min-h-screen w-screen overflow-hidden lg:flex-col lg:border-x lg:px-10"
  >
    <MobileHeader title="WORK" client:load />
    <div class="flex flex-col gap-8 overflow-y-auto px-4 pb-4">
      <div class="flex flex-col gap-10 pt-2 lg:pt-20">
        <a
          href="/work"
          class="flex w-fit flex-row items-center gap-2 rounded-md border border-border px-2 py-1"
        >
          <Image src={arrowLeftSvg} alt="arrow-left" width="16" height="16" />
          <p class="font-sans text-sm font-semibold text-muted-foreground">
            Back
          </p>
        </a>
        <div class="flex flex-col gap-8 lg:flex-row">
          <div
            class="flex w-full flex-1 flex-col items-start justify-center gap-5 lg:items-center"
          >
            <div class="max-w-[50%] sm:max-w-[25%] lg:max-w-[50%]">
              <!-- @ts-expect-error //TODO fix this type error -->
              <ProjectLogo>
                <!-- @ts-expect-error //TODO fix this type error -->
                <Image
                  slot="darkModeLogo"
                  src={project.logoImageDark}
                  alt="logo"
                  inferSize
                />
                <!-- @ts-expect-error //TODO fix this -->
                <Image
                  slot="lightModeLogo"
                  src={project.logoImageLight}
                  alt="logo"
                  inferSize
                />
              </ProjectLogo>
            </div>
          </div>
          <ProjectDetails project={project} />
        </div>
      </div>
      <SampleImages sampleImages={project.sampleImages} />
    </div>
  </ContentContainer>
  <RailContainer className="p-0">
    <RailNav className="h-full py-20 pe-20 ps-10" href="/contact"
      >CONTACT</RailNav
    >
  </RailContainer>
</Layout>
